
set +x

SCRIPT_DIR=$(dirname ${BASH_SOURCE[0]})
# This file:
NBTOOL_RC=$SCRIPT_DIR/nbtool.rc
NBTOOL_FN=$SCRIPT_DIR/nbtool.fn
NBTOOL_PY=$SCRIPT_DIR/nbtool.py

[ "$1" = "-x" ] && { shift; set -x; }

echo "==== Reading nbtool functions from '$NBTOOL_FN' ====";
. $NBTOOL_FN

if [ ! -z "$1" ]; then
    echo "[$NBTOOL_RC] Got args '$*'"
    
    # -- CONFIG ------------------------------------
    export LAB_TAG=${PWD##*/} 
    export LAB_WEIGHT="$1"; shift
    export LAB_MODE="$1"; shift
    export LAB_NAME="$1"; shift
    export LAB_TAG="${PWD##*/}"; shift
    # ----------------------------------------------
    # Now use MAX_LEN_MD in nbtool.rc (instead of "export MAX_LINE_LEN=80" here)

    set | grep ^LAB_ > ~/tmp/LAB_vars.env
    cat ~/tmp/LAB_vars.env

    EXCL_FN_INIT_NOTEBOOK
fi

